@model User    
<div class="d-flex align-items-center justify-content-center">
    <h1  class="display-1">FilmFlix</h1> 
</div> 
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <p>Lütfen aşağıdaki hataları düzeltin:</p>
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
  <div class="d-flex align-items-center justify-content-center">
     <form asp-controller="Home" asp-action="Page" method="post">
            <div class="mb-3">
                <label  asp-for="UserName" class="form-label">Kullanıcı Adı</label>
                <input  asp-for="UserName" class="form-control">
                </div>
                
                    <div class="mb-3">
                        <label asp-for="UserPassword" type="password" class="form-label">Şifre</label>
                        <input  asp-for="UserPassword" type="password" class="form-control">
                        </div>

                        <button  type="submit"  class="btn btn-primary">Giriş Yap</button>
        </form>
     
    </div>
    <a class="d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Register">Kayıt Ol</a>
